$header-margin-svg: 0.6em;

.fa-stack {
  position: relative;
  display: block;
}

.fa-lg {
  font-size: 1.33333333em;
  line-height : 0.75em;
  vertical-align: -15%;
}

.icon_size {
  font-size: 1.1em;
  line-height: 0.75em;
  vertical-align: -15%;
  margin: 8px 0 5px;
}

.fa-stack-1x,
.fa-stack-2x {
  position  : absolute;
  left      : 0;
  width     : 100%;
  text-align: center;
  top: -9px;
}

.fa-stack-1x {
  font-size: 0.9em;
  line-height: 2.5em;
}

.fa-stack-2x {
  color: getColor(secondary);
  font-size: 3em;
}

.icon-image {
  color: transparent;
}
.icon-text {
  color: getColor(light);
}

.bookmark-enabled {
  .icon-image {
    transform: scale(1.2,1);
    color: getColor(secondary);
  }
  .icon-text {
    color: getColor(primary-s1);
  }
}

.svg-icon {
  z-index: 13;
  display: block;
  margin: $header-margin-svg auto;
  position: relative;
  width: 100%;
  max-width: 2.5em;
}

.logo-2 {
  z-index: 13;
  display: block;
  margin: $header-margin-svg auto;
  position: relative;
  width: 100%;
  max-width: 7.5em;
}
