<ion-header>
  <ion-navbar primary-s2>
    <ion-row  class="no-padding custom-navbar">
      <ion-col width-70>
        <object light clear block class="logo-2" data="img/svg/logo2.svg" type="image/svg+xml"></object>
      </ion-col>

      <ion-col width-15 class="juz-col-header">
        <object light clear block class="svg-icon" data="img/svg/juz-icon.svg" type="image/svg+xml"></object>
      </ion-col>

      <ion-col width-15 class="surah-col-header">
        <object light clear block class="svg-icon" data="img/svg/page-icon.svg" type="image/svg+xml"></object>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-row class="main-content-area">
<ion-content class="content-area">

  <ion-row  class="no-padding surah-background">

    <ion-col width-70 class="option-column surah-name-col">
      <div *ngIf="selectedSurah">
        You selected surah
        <b>{{selectedSurah.english_name}}</b>
      </div>
      <ion-list [virtualScroll]="surahList" no-lines class="no-margin scroll-inner-content">
        <ion-item  class="surah-item-list" *virtualItem="let surah" (click)="goToSurah(surah.no)">
          <ion-avatar class="bookmark-enabled fa-stack" item-left>
            <ion-icon name="ios-bookmark" class="icon-image fa-stack-2x" ></ion-icon>
            <span class="icon-text fa-stack-1x">{{ surah.no }}</span>
          </ion-avatar>

          <h2>{{surah.english_name}}</h2>
          <p>{{surah.english_meaning}}</p>

        </ion-item>

      </ion-list>
    </ion-col>

    <!-- <ion-col width-15 class="option-column juz-col">
      <ion-list no-lines class="scroll-inner-content">
        <button clear block secondary class="scroll-button" *ngFor="#juzNumber of juzNumbers" (click)="goToJuz(juzNumber)">
          {{ juzNumber }}
        </button>
      </ion-list>
    </ion-col>

    <ion-col width-15 class="option-column page-col">
      <ion-list no-lines class="scroll-inner-content">
        <button clear block class="scroll-button" *ngFor="#pageNumber of pageNumbers"  (click)="goToPage(pageNumber)">
          {{ pageNumber }}
        </button>
      </ion-list>
    </ion-col> -->

  </ion-row>
</ion-content>

<ion-content width-15 class="content-area juz-col">

  <ion-col class="option-column">
    <ion-list [virtualScroll]="juzNumbers" no-lines class="scroll-inner-content">
      <button clear block secondary class="scroll-button" *virtualItem="let juzNumber" (click)="goToJuz(juzNumber)">
        {{ juzNumber }}
      </button>
    </ion-list>
  </ion-col>
</ion-content>

<ion-content width-15 class="content-area page-col">

  <ion-col class="option-column">
    <ion-list [virtualScroll]="pageNumbers" no-lines class="scroll-inner-content">
      <button clear block class="scroll-button" *virtualItem="let pageNumber"  (click)="goToPage(pageNumber)">
        {{ pageNumber }}
      </button>
    </ion-list>
  </ion-col>
</ion-content>
</ion-row>

<ion-footer>
  <ion-toolbar class="sm-toolbar" primary-s2 position="bottom">
    <!-- <ion-buttons start>
        <button dark (click)="surahTapped($event, 1)">
            <div class="title">1. Al-Fatihah - The Opening</div>
        </button>
    </ion-buttons> -->
    <ion-buttons end>
        <button light (click)="openSetting()">
            <ion-icon ios="ios-settings" md="md-settings"></ion-icon>
        </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
