.surah-list-page {
  .toolbar.show-navbar {
    padding: 0px;
  }

  .toolbar-background:after, .surah-col-header:after, .juz-col-header:after {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: getColor(primary-s3);
  }

}

.content-area {
  background-color: getColor(primary-s2);

  scroll-content {
    overflow-y: auto;
  }

}

.option-column {
  position: relative;

  h2 {
    color: getColor(light);
  }

  p {
    color: getColor(secondary-s1);
  }
}

.surah-col-header {
  position: relative;
  background: getColor(secondary);
}

.page-col {
  background: getColor(secondary);
}

.juz-col-header {
  background: getColor(primary-s1);
  position: relative;

}
.juz-col {
  background: getColor(primary-s1);
}

.toolbar-background {
  background: getColor(primary-s1);
  border-bottom-width: 0px;
}
.surah-background {
  color: getColor(light);
  background: getColor(primary-s2);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.surah-item-list {
  color: getColor(light);
  background-color: getColor(primary-s2);
}

.nav-col-buttons {
  margin: 1.5rem 0;
    z-index: 13;
    display: block;
    pointer-events: none;
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
}
