<ion-navbar *navbar>
    <ion-buttons>
        <button nav-pop dark>
            <span class="button-inner"><span class="button-inner"><ion-icon class="back-button-icon ion-ios-arrow-back" role="img" aria-label="arrow back"></ion-icon><span class="back-button-text" style="transform: translateX(0px);"><span class="back-default">Back</span></span></span><ion-button-effect></ion-button-effect></span>
        </button>
    </ion-buttons>

    <ion-title>Transliteration</ion-title>
</ion-navbar>

<ion-content>
    <ion-list>
        <ion-item
                *ngFor="let row of transliterationList"
                [ngClass]="{'translationSelected': GlobalQuran.isSelected(row.id)}"
                (click)="GlobalQuran.toggleSelect(row.id)">
            {{row.native_name}}
            <ion-icon name="checkmark-circle-outline" *ngIf="GlobalQuran.isSelected(row.id)" item-right></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
