<ion-row class="no-padding ayah-by-ayah" *ngFor="#quran of content; #verseNo=index">
    <ion-col class="ayahNo option-column page-col" width-10>
        <div class="fa-stack">
            <object light clear block class="svg-icon" data="img/svg/ayah-icon.svg" type="image/svg+xml"></object>
            <span class="icon-text fa-stack-1x ayah-number">{{ verseNo + 1 }}</span>
        </div>
    </ion-col>
    <ion-col class="ayahText">
        <div class="arabic-text" *ngFor="#ayah of quran">
            {{ayah.verse}}
        </div>

    </ion-col>
</ion-row>
