.surah-title {
  height: 100px;
}
.surah-detail-page {
  .toolbar-title,
  .bar-button-default {
    color: getColor(light);
  }
  .toolbar-background:after {
    content   : " ";
    z-index   : 10;
    display   : block;
    position  : absolute;
    height    : 100%;
    top       : 0;
    left      : 0;
    right     : 0;
    background: getColor(primary-s3);
  }
  .ayah-number {
    font-size: 12px;
    line-height: 4em;
    text-anchor: middle;
  }
}
.ayahNo {
  background-color: getColor(light);
}
.ayahText {
  border-bottom: 1px solid lighten(getColor(primary-s3), 50);
}

@include font-face(GlobalQuran, fonts/GlobalQuran-Bold);
// Diffrent layouts
.ayah-by-ayah {

  .quranic-text {
    color      : getColor(primary-s1);
    line-height: 2em;
    font-size  : 3em;
    text-align : right;
    font-family: "GlobalQuran";
    @include antialiasing(antialiased);
  }

}
.page-by-page {
  .page-headers {
    display   : inline-block;
    font-size : medium;
    color     : getColor(primary-s2);
    margin: -39px 5px 0;
    &.juz-number {
      float: left;
    }
    &.page-number {
      float: right;
    }
  }
  main {
    color      : getColor(primary-s4);
    font-size  : 26px;
    text-align : center;
    line-height: 40px;
    max-width  : 980px;
    margin     : 40px auto;
  }
  section {
    background   : #FFF;
    padding      : 38px 96px;
    margin-bottom: 32px;
    border       : 1px solid #CCC;
    border-top   : 1px solid #DDD;
    border-bottom: 1px solid #BBB;
    box-shadow   : 0 10px 26px -10px #999;
  }
  span:hover {
    background: rgba(0, 178, 255, 0.35);
  }
  .arabic-text, .quranic-text {
    text-align: right;
  }
}
.ayah-icon {
  stroke: getColor(primary-s1);
}
