<ion-navbar *navbar>
  <button menuToggle *ngIf="!selectedItem">
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>{{selectedSurah.english_name}}</ion-title>
</ion-navbar>

<ion-content>
    <ion-row>
        <ion-col class="ayahNo" width-10>[1]</ion-col>
        <ion-col>
            <div dir="rtl">Bismillah</div>
            <div dir="ltr">Ali Lam Meem</div>
        </ion-col>
    </ion-row>


    <div *ngIf="content">
        <ion-row *ngFor="#quran of content">
            <ion-col class="ayahNo" width-10>[1]</ion-col>
            <ion-col>
                <div *ngFor="#ayah of quran">
                    {{ayah.verse}}
                </div>
            </ion-col>
        </ion-row>
    </div>

    {{ ayahs| json }}

    <ion-list>
        <button ion-item *ngFor="#surah of surahList" (click)="surahTapped($event, surah)">
            {{surah.english_name}}
            <!--<div class="item-note" item-right>-->
            <!--{{item.note}}-->
            <!--</div>-->
        </button>
    </ion-list>

</ion-content>
