<ion-navbar *navbar>
  <button menuToggle *ngIf="!selectedItem">
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>{{selectedSurah.english_name}}</ion-title>
</ion-navbar>

<ion-content>
    <ion-row>
        <ion-col class="ayahNo" width-10>[1]</ion-col>
        <ion-col>
            <div dir="rtl">Bismillah</div>
            <div dir="ltr">Ali Lam Meem</div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="ayahNo" width-10>[1]</ion-col>
        <ion-col>
            <div dir="rtl">Bismillah</div>
            <div dir="ltr">Ali Lam Meem</div>
        </ion-col>
    </ion-row>

    <div *ngIf="ayahs">
        <ion-row *ngFor="#quran of ayahs | values">
            <div>Quran: {{ quran['quran-simple'][1].verse }}</div>
        </ion-row>
    </div>


    <p>
        <span class="text" dir="rtl">Bismillah</span>
        <span class="text" dir="ltr">Ali Lam Meem</span>
    </p>
    <p>
        <span class="text" dir="rtl">Bismillah</span>
        <span class="text" dir="ltr">Ali Lam Meem</span>
    </p>
    <p>
        <span class="text" dir="rtl">Bismillah</span>
        <span class="text" dir="ltr">Ali Lam Meem</span>
    </p>
</ion-content>
